.container1 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
	margin: auto;
    border: 5px solid rgb(237, 28, 36);
    background-color: white;
    width: 850px;
    height: 100%;
}

#header, #footer {
    background-color: rgb(27, 20, 100);
    color: white;
    padding: 20px;
    clear: both;
}

body {
    background-image: url("images/background.jpg");
    background-repeat: no-repeat;
	background-size: cover;
}


